{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Madmail API"
  },
  "servers": [
    {
      "url": "https://app.madmail.com.br/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "Recupera os domínios acessíveis pela chave de API",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "ID do domínio",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do domínio",
                        "example": "example.com"
                      },
                      "teamId": {
                        "type": "number",
                        "description": "ID do time",
                        "example": 1
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "NOT_STARTED",
                          "PENDING",
                          "SUCCESS",
                          "FAILED",
                          "TEMPORARY_FAILURE"
                        ]
                      },
                      "region": {
                        "type": "string",
                        "default": "us-east-1"
                      },
                      "clickTracking": {
                        "type": "boolean",
                        "default": false
                      },
                      "openTracking": {
                        "type": "boolean",
                        "default": false
                      },
                      "publicKey": {
                        "type": "string"
                      },
                      "dkimStatus": {
                        "type": "string",
                        "nullable": true
                      },
                      "spfDetails": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "dmarcAdded": {
                        "type": "boolean",
                        "default": false
                      },
                      "isVerifying": {
                        "type": "boolean",
                        "default": false
                      },
                      "errorMessage": {
                        "type": "string",
                        "nullable": true
                      },
                      "subdomain": {
                        "type": "string",
                        "nullable": true
                      },
                      "verificationError": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastCheckedTime": {
                        "type": "string",
                        "nullable": true
                      },
                      "dnsRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "MX",
                                "TXT"
                              ],
                              "description": "Tipo do registro DNS",
                              "example": "TXT"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do registro DNS",
                              "example": "mail"
                            },
                            "value": {
                              "type": "string",
                              "description": "Valor do registro DNS",
                              "example": "v=spf1 include:amazonses.com ~all"
                            },
                            "ttl": {
                              "type": "string",
                              "description": "TTL do registro DNS",
                              "example": "Auto"
                            },
                            "priority": {
                              "type": "string",
                              "nullable": true,
                              "description": "Prioridade do registro DNS",
                              "example": "10"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "NOT_STARTED",
                                "PENDING",
                                "SUCCESS",
                                "FAILED",
                                "TEMPORARY_FAILURE"
                              ]
                            },
                            "recommended": {
                              "type": "boolean",
                              "description": "Indica se o registro é recomendado"
                            }
                          },
                          "required": [
                            "type",
                            "name",
                            "value",
                            "ttl",
                            "status"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "teamId",
                      "status",
                      "publicKey",
                      "createdAt",
                      "updatedAt",
                      "dnsRecords"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "region"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cria um novo domínio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID do domínio",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do domínio",
                      "example": "example.com"
                    },
                    "teamId": {
                      "type": "number",
                      "description": "ID do time",
                      "example": 1
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "NOT_STARTED",
                        "PENDING",
                        "SUCCESS",
                        "FAILED",
                        "TEMPORARY_FAILURE"
                      ]
                    },
                    "region": {
                      "type": "string",
                      "default": "us-east-1"
                    },
                    "clickTracking": {
                      "type": "boolean",
                      "default": false
                    },
                    "openTracking": {
                      "type": "boolean",
                      "default": false
                    },
                    "publicKey": {
                      "type": "string"
                    },
                    "dkimStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "spfDetails": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "dmarcAdded": {
                      "type": "boolean",
                      "default": false
                    },
                    "isVerifying": {
                      "type": "boolean",
                      "default": false
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "subdomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationError": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastCheckedTime": {
                      "type": "string",
                      "nullable": true
                    },
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "MX",
                              "TXT"
                            ],
                            "description": "Tipo do registro DNS",
                            "example": "TXT"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do registro DNS",
                            "example": "mail"
                          },
                          "value": {
                            "type": "string",
                            "description": "Valor do registro DNS",
                            "example": "v=spf1 include:amazonses.com ~all"
                          },
                          "ttl": {
                            "type": "string",
                            "description": "TTL do registro DNS",
                            "example": "Auto"
                          },
                          "priority": {
                            "type": "string",
                            "nullable": true,
                            "description": "Prioridade do registro DNS",
                            "example": "10"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "NOT_STARTED",
                              "PENDING",
                              "SUCCESS",
                              "FAILED",
                              "TEMPORARY_FAILURE"
                            ]
                          },
                          "recommended": {
                            "type": "boolean",
                            "description": "Indica se o registro é recomendado"
                          }
                        },
                        "required": [
                          "type",
                          "name",
                          "value",
                          "ttl",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "teamId",
                    "status",
                    "publicKey",
                    "createdAt",
                    "updatedAt",
                    "dnsRecords"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{id}/verify": {
      "put": {
        "parameters": [
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "example": 1
            },
            "required": false,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Verifica o domínio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Proibido - a chave de API não tem acesso a este domínio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Domínio não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{id}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "example": 1
            },
            "required": false,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera o domínio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID do domínio",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do domínio",
                      "example": "example.com"
                    },
                    "teamId": {
                      "type": "number",
                      "description": "ID do time",
                      "example": 1
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "NOT_STARTED",
                        "PENDING",
                        "SUCCESS",
                        "FAILED",
                        "TEMPORARY_FAILURE"
                      ]
                    },
                    "region": {
                      "type": "string",
                      "default": "us-east-1"
                    },
                    "clickTracking": {
                      "type": "boolean",
                      "default": false
                    },
                    "openTracking": {
                      "type": "boolean",
                      "default": false
                    },
                    "publicKey": {
                      "type": "string"
                    },
                    "dkimStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "spfDetails": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "dmarcAdded": {
                      "type": "boolean",
                      "default": false
                    },
                    "isVerifying": {
                      "type": "boolean",
                      "default": false
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "subdomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationError": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastCheckedTime": {
                      "type": "string",
                      "nullable": true
                    },
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "MX",
                              "TXT"
                            ],
                            "description": "Tipo do registro DNS",
                            "example": "TXT"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do registro DNS",
                            "example": "mail"
                          },
                          "value": {
                            "type": "string",
                            "description": "Valor do registro DNS",
                            "example": "v=spf1 include:amazonses.com ~all"
                          },
                          "ttl": {
                            "type": "string",
                            "description": "TTL do registro DNS",
                            "example": "Auto"
                          },
                          "priority": {
                            "type": "string",
                            "nullable": true,
                            "description": "Prioridade do registro DNS",
                            "example": "10"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "NOT_STARTED",
                              "PENDING",
                              "SUCCESS",
                              "FAILED",
                              "TEMPORARY_FAILURE"
                            ]
                          },
                          "recommended": {
                            "type": "boolean",
                            "description": "Indica se o registro é recomendado"
                          }
                        },
                        "required": [
                          "type",
                          "name",
                          "value",
                          "ttl",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "teamId",
                    "status",
                    "publicKey",
                    "createdAt",
                    "updatedAt",
                    "dnsRecords"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "example": 1
            },
            "required": false,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Domínio excluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Proibido - a chave de API não tem acesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Domínio não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "emailId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera o e-mail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "teamId": {
                      "type": "number"
                    },
                    "to": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "replyTo": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "cc": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "bcc": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "from": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "html": {
                      "type": "string",
                      "nullable": true
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "emailEvents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "SCHEDULED",
                              "QUEUED",
                              "SENT",
                              "DELIVERY_DELAYED",
                              "BOUNCED",
                              "REJECTED",
                              "RENDERING_FAILURE",
                              "DELIVERED",
                              "OPENED",
                              "CLICKED",
                              "COMPLAINED",
                              "FAILED",
                              "CANCELLED",
                              "SUPPRESSED"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "data": {
                            "nullable": true
                          }
                        },
                        "required": [
                          "emailId",
                          "status",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "teamId",
                    "to",
                    "from",
                    "subject",
                    "html",
                    "text",
                    "createdAt",
                    "updatedAt",
                    "emailEvents"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "emailId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "scheduledAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recupera o usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "1",
              "example": "1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "50",
              "example": "50"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-01-01T00:00:00Z"
            },
            "required": false,
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-01-31T23:59:59Z"
            },
            "required": false,
            "name": "endDate",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "example": "123"
            },
            "required": false,
            "name": "domainId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera uma lista de e-mails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "to": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          },
                          "replyTo": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "nullable": true
                              }
                            ]
                          },
                          "cc": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "nullable": true
                              }
                            ]
                          },
                          "bcc": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "nullable": true
                              }
                            ]
                          },
                          "from": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "html": {
                            "type": "string",
                            "nullable": true
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "latestStatus": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "SCHEDULED",
                              "QUEUED",
                              "SENT",
                              "DELIVERY_DELAYED",
                              "BOUNCED",
                              "REJECTED",
                              "RENDERING_FAILURE",
                              "DELIVERED",
                              "OPENED",
                              "CLICKED",
                              "COMPLAINED",
                              "FAILED",
                              "CANCELLED",
                              "SUPPRESSED"
                            ]
                          },
                          "scheduledAt": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "domainId": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "to",
                          "from",
                          "subject",
                          "html",
                          "text",
                          "createdAt",
                          "updatedAt",
                          "latestStatus",
                          "scheduledAt",
                          "domainId"
                        ]
                      }
                    },
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "count"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "description": "Envie o cabeçalho opcional Idempotency-Key para tornar a requisição segura para novas tentativas. A chave pode ter até 256 caracteres. O servidor armazena o corpo canônico da requisição e se comporta da seguinte forma:\n\n- Mesma chave + mesmo corpo de requisição → retorna o emailId original com 200 OK, sem reenviar.\n- Mesma chave + corpo de requisição diferente → retorna 409 Conflict com code: NOT_UNIQUE para que você possa detectar a divergência.\n- Mesma chave enquanto outra requisição ainda está sendo processada → retorna 409 Conflict; tente novamente após um curto intervalo ou quando a primeira requisição terminar.\n\nOs registros expiram após 24 horas. Use uma chave única por envio lógico (por exemplo, um ID de pedido ou de cadastro)."
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "from": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Opcional quando templateId é informado"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "ID de um template do painel"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "replyTo": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "text": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1
                  },
                  "html": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "Cabeçalhos personalizados a serem incluídos nos e-mails"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string",
                          "minLength": 1
                        },
                        "content": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "filename",
                        "content"
                      ]
                    },
                    "maxItems": 10
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "inReplyToId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "to",
                  "from"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recupera o usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "description": "Envie o cabeçalho opcional Idempotency-Key para tornar a requisição segura para novas tentativas. A chave pode ter até 256 caracteres. O servidor armazena o corpo canônico da requisição e se comporta da seguinte forma:\n\n- Mesma chave + mesmo corpo de requisição → retorna o emailId original com 200 OK, sem reenviar.\n- Mesma chave + corpo de requisição diferente → retorna 409 Conflict com code: NOT_UNIQUE para que você possa detectar a divergência.\n- Mesma chave enquanto outra requisição ainda está sendo processada → retorna 409 Conflict; tente novamente após um curto intervalo ou quando a primeira requisição terminar.\n\nOs registros expiram após 24 horas. Use uma chave única por envio lógico (por exemplo, um ID de pedido ou de cadastro)."
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "to": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "from": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Opcional quando templateId é informado"
                    },
                    "templateId": {
                      "type": "string",
                      "description": "ID de um template do painel"
                    },
                    "variables": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "replyTo": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "cc": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "bcc": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "text": {
                      "type": "string",
                      "nullable": true,
                      "minLength": 1
                    },
                    "html": {
                      "type": "string",
                      "nullable": true,
                      "minLength": 1
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "minLength": 1
                      },
                      "description": "Cabeçalhos personalizados a serem incluídos nos e-mails"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "minLength": 1
                          },
                          "content": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "filename",
                          "content"
                        ]
                      },
                      "maxItems": 10
                    },
                    "scheduledAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "inReplyToId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "to",
                    "from"
                  ]
                },
                "maxItems": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de IDs de e-mails criados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "emailId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/cancel": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "emailId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera o usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/contactBooks/{contactBookId}/contacts": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "subscribed": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recupera o usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "emails",
            "in": "query"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera múltiplos contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string"
                      },
                      "subscribed": {
                        "type": "boolean",
                        "default": true
                      },
                      "properties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "contactBookId": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "email",
                      "properties",
                      "contactBookId",
                      "createdAt",
                      "updatedAt"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/contactBooks/{contactBookId}/contacts/{contactId}": {
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "subscribed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recupera o usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera o contato",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "default": true
                    },
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "contactBookId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "properties",
                    "contactBookId",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "subscribed": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contato criado ou atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "contactId"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Contato excluído com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/contactBooks/{contactBookId}/contacts/bulk": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "subscribed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "email"
                  ]
                },
                "maxItems": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Adiciona contatos em massa a uma lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "message",
                    "count"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "cuiwqdj74rygf74"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                },
                "required": [
                  "contactIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exclui contatos em massa de uma lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "count"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/contactBooks": {
      "get": {
        "responses": {
          "200": {
            "description": "Recupera as listas de contatos acessíveis pela chave de API",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID da lista de contatos",
                        "example": "clx1234567890"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome da lista de contatos",
                        "example": "Newsletter Subscribers"
                      },
                      "teamId": {
                        "type": "number",
                        "description": "ID do time",
                        "example": 1
                      },
                      "properties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "description": "Propriedades personalizadas da lista de contatos",
                        "example": {
                          "customField1": "value1"
                        }
                      },
                      "variables": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Variáveis de personalização permitidas para os contatos desta lista",
                        "example": [
                          "registrationCode",
                          "company"
                        ]
                      },
                      "emoji": {
                        "type": "string",
                        "description": "Emoji associado à lista de contatos",
                        "example": "📙"
                      },
                      "doubleOptInEnabled": {
                        "type": "boolean",
                        "description": "Indica se o double opt-in está ativo para novos contatos",
                        "example": true
                      },
                      "doubleOptInFrom": {
                        "type": "string",
                        "nullable": true,
                        "description": "Remetente usado nos e-mails de double opt-in (precisa usar um domínio verificado)",
                        "example": "Newsletter <hello@example.com>"
                      },
                      "doubleOptInSubject": {
                        "type": "string",
                        "nullable": true,
                        "description": "Assunto usado no e-mail de confirmação do double opt-in",
                        "example": "Please confirm your subscription"
                      },
                      "doubleOptInContent": {
                        "type": "string",
                        "nullable": true,
                        "description": "Conteúdo JSON do editor usado na confirmação do double opt-in"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Data e hora de criação"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "Data e hora da última atualização"
                      },
                      "_count": {
                        "type": "object",
                        "properties": {
                          "contacts": {
                            "type": "number",
                            "description": "Quantidade de contatos na lista"
                          }
                        },
                        "required": [
                          "contacts"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "teamId",
                      "properties",
                      "variables",
                      "emoji",
                      "createdAt",
                      "updatedAt"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "emoji": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "doubleOptInEnabled": {
                    "type": "boolean"
                  },
                  "doubleOptInFrom": {
                    "type": "string",
                    "nullable": true
                  },
                  "doubleOptInSubject": {
                    "type": "string"
                  },
                  "doubleOptInContent": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cria uma nova lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID da lista de contatos",
                      "example": "clx1234567890"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da lista de contatos",
                      "example": "Newsletter Subscribers"
                    },
                    "teamId": {
                      "type": "number",
                      "description": "ID do time",
                      "example": 1
                    },
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Propriedades personalizadas da lista de contatos",
                      "example": {
                        "customField1": "value1"
                      }
                    },
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Variáveis de personalização permitidas para os contatos desta lista",
                      "example": [
                        "registrationCode",
                        "company"
                      ]
                    },
                    "emoji": {
                      "type": "string",
                      "description": "Emoji associado à lista de contatos",
                      "example": "📙"
                    },
                    "doubleOptInEnabled": {
                      "type": "boolean",
                      "description": "Indica se o double opt-in está ativo para novos contatos",
                      "example": true
                    },
                    "doubleOptInFrom": {
                      "type": "string",
                      "nullable": true,
                      "description": "Remetente usado nos e-mails de double opt-in (precisa usar um domínio verificado)",
                      "example": "Newsletter <hello@example.com>"
                    },
                    "doubleOptInSubject": {
                      "type": "string",
                      "nullable": true,
                      "description": "Assunto usado no e-mail de confirmação do double opt-in",
                      "example": "Please confirm your subscription"
                    },
                    "doubleOptInContent": {
                      "type": "string",
                      "nullable": true,
                      "description": "Conteúdo JSON do editor usado na confirmação do double opt-in"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Data e hora de criação"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Data e hora da última atualização"
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "contacts": {
                          "type": "number",
                          "description": "Quantidade de contatos na lista"
                        }
                      },
                      "required": [
                        "contacts"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "teamId",
                    "properties",
                    "variables",
                    "emoji",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/contactBooks/{contactBookId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "clx1234567890"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recupera a lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID da lista de contatos",
                      "example": "clx1234567890"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da lista de contatos",
                      "example": "Newsletter Subscribers"
                    },
                    "teamId": {
                      "type": "number",
                      "description": "ID do time",
                      "example": 1
                    },
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Propriedades personalizadas da lista de contatos",
                      "example": {
                        "customField1": "value1"
                      }
                    },
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Variáveis de personalização permitidas para os contatos desta lista",
                      "example": [
                        "registrationCode",
                        "company"
                      ]
                    },
                    "emoji": {
                      "type": "string",
                      "description": "Emoji associado à lista de contatos",
                      "example": "📙"
                    },
                    "doubleOptInEnabled": {
                      "type": "boolean",
                      "description": "Indica se o double opt-in está ativo para novos contatos",
                      "example": true
                    },
                    "doubleOptInFrom": {
                      "type": "string",
                      "nullable": true,
                      "description": "Remetente usado nos e-mails de double opt-in (precisa usar um domínio verificado)",
                      "example": "Newsletter <hello@example.com>"
                    },
                    "doubleOptInSubject": {
                      "type": "string",
                      "nullable": true,
                      "description": "Assunto usado no e-mail de confirmação do double opt-in",
                      "example": "Please confirm your subscription"
                    },
                    "doubleOptInContent": {
                      "type": "string",
                      "nullable": true,
                      "description": "Conteúdo JSON do editor usado na confirmação do double opt-in"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Data e hora de criação"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Data e hora da última atualização"
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "contacts": {
                          "type": "number",
                          "description": "Quantidade de contatos na lista"
                        }
                      },
                      "required": [
                        "contacts"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "teamId",
                    "properties",
                    "variables",
                    "emoji",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Proibido - a chave de API não tem acesso a esta lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lista de contatos não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "clx1234567890"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "emoji": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "doubleOptInEnabled": {
                    "type": "boolean"
                  },
                  "doubleOptInFrom": {
                    "type": "string",
                    "nullable": true
                  },
                  "doubleOptInSubject": {
                    "type": "string"
                  },
                  "doubleOptInContent": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualiza a lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID da lista de contatos",
                      "example": "clx1234567890"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da lista de contatos",
                      "example": "Newsletter Subscribers"
                    },
                    "teamId": {
                      "type": "number",
                      "description": "ID do time",
                      "example": 1
                    },
                    "properties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Propriedades personalizadas da lista de contatos",
                      "example": {
                        "customField1": "value1"
                      }
                    },
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Variáveis de personalização permitidas para os contatos desta lista",
                      "example": [
                        "registrationCode",
                        "company"
                      ]
                    },
                    "emoji": {
                      "type": "string",
                      "description": "Emoji associado à lista de contatos",
                      "example": "📙"
                    },
                    "doubleOptInEnabled": {
                      "type": "boolean",
                      "description": "Indica se o double opt-in está ativo para novos contatos",
                      "example": true
                    },
                    "doubleOptInFrom": {
                      "type": "string",
                      "nullable": true,
                      "description": "Remetente usado nos e-mails de double opt-in (precisa usar um domínio verificado)",
                      "example": "Newsletter <hello@example.com>"
                    },
                    "doubleOptInSubject": {
                      "type": "string",
                      "nullable": true,
                      "description": "Assunto usado no e-mail de confirmação do double opt-in",
                      "example": "Please confirm your subscription"
                    },
                    "doubleOptInContent": {
                      "type": "string",
                      "nullable": true,
                      "description": "Conteúdo JSON do editor usado na confirmação do double opt-in"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Data e hora de criação"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Data e hora da última atualização"
                    },
                    "_count": {
                      "type": "object",
                      "properties": {
                        "contacts": {
                          "type": "number",
                          "description": "Quantidade de contatos na lista"
                        }
                      },
                      "required": [
                        "contacts"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "teamId",
                    "properties",
                    "variables",
                    "emoji",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Proibido - a chave de API não tem acesso a esta lista de contatos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lista de contatos não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "clx1234567890"
            },
            "required": true,
            "name": "contactBookId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contatos excluída com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Proibido - a chave de API não tem acesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Lista de contatos não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "from": {
                    "type": "string",
                    "minLength": 1
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1
                  },
                  "previewText": {
                    "type": "string"
                  },
                  "contactBookId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "html": {
                    "type": "string",
                    "minLength": 1
                  },
                  "replyTo": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    ]
                  },
                  "cc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    ]
                  },
                  "sendNow": {
                    "type": "boolean"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "Data e hora no formato ISO 8601 ou em linguagem natural em inglês (ex.: 'tomorrow 9am', 'next monday 10:30')"
                  },
                  "batchSize": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000
                  }
                },
                "required": [
                  "name",
                  "from",
                  "subject",
                  "contactBookId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cria uma campanha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "previewText": {
                      "type": "string",
                      "nullable": true
                    },
                    "contactBookId": {
                      "type": "string",
                      "nullable": true
                    },
                    "html": {
                      "type": "string",
                      "nullable": true
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "scheduledAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "batchSize": {
                      "type": "integer"
                    },
                    "batchWindowMinutes": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "sent": {
                      "type": "integer"
                    },
                    "delivered": {
                      "type": "integer"
                    },
                    "opened": {
                      "type": "integer"
                    },
                    "clicked": {
                      "type": "integer"
                    },
                    "unsubscribed": {
                      "type": "integer"
                    },
                    "bounced": {
                      "type": "integer"
                    },
                    "hardBounced": {
                      "type": "integer"
                    },
                    "complained": {
                      "type": "integer"
                    },
                    "replyTo": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "cc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "bcc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "from",
                    "subject",
                    "previewText",
                    "contactBookId",
                    "html",
                    "content",
                    "status",
                    "scheduledAt",
                    "batchSize",
                    "batchWindowMinutes",
                    "total",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "unsubscribed",
                    "bounced",
                    "hardBounced",
                    "complained",
                    "replyTo",
                    "cc",
                    "bcc",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Número da página para paginação (padrão: 1)",
              "example": "1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "SCHEDULED",
                "RUNNING",
                "PAUSED",
                "SENT"
              ],
              "description": "Filtrar campanhas por status",
              "example": "DRAFT"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Buscar campanhas por nome ou assunto",
              "example": "newsletter"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtém a lista de campanhas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "scheduledAt": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "sent": {
                            "type": "integer"
                          },
                          "delivered": {
                            "type": "integer"
                          },
                          "unsubscribed": {
                            "type": "integer"
[...]
